h1 {
    text-align: center;
    background-color: #97dda9f8;
    color: antiquewhite;
    font-family: Georgia, "Times New Roman";
}
.list {
    text-align: center;
    background-color:antiquewhite;
    font-family: Ariel, "Times New Roman";
}